.gift-card .logo-bar__item {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(20% - 0px);
    width: calc(20% - 0px);
    margin: 25px;
}

@media (max-width: 767px){
    .gift-card .logo-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
    .gift-card .logo-bar__item {
        width: 40%;
        max-width: calc(40% - 0px);
        margin: 10px;
    }  
  
}