
.announcement-bar-bg{
    background: url(/src/assets/red-bg.png);
    min-height: 50px;
    max-width: 100%;
    background-size: auto;
    background-position: center;
}
.announcement-bar-bg .slick-prev{
    left: 0;
}
.announcement-bar-bg .slick-next {
    right: 0;
}